<header class="px-4 sm:px-6 lg:px-8 bg-orange-100 h-14">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
      <.link patch={~p"/"}>
        <img src={~p"/images/logo.svg"}  />
      </.link>
  </div>
</header>
<main class="px-4 py-4 sm:px-6 lg:px-8" style="height: calc(100svh - 56px)">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
</main>
